# first, make sure you use conda to install iris
# $ conda install -c conda-forge iris==2.2.1
climateforcing@git+git://github.com/chrisroadmap/climateforcing@solar-utci#egg=climateforcing
cftime>=1.4.0
jupyter
nb-clean
